{{ "<!-- eventbrite -->" | safeHTML }}
<section id="eventbrite" {{ if .Site.Params.eventbrite.bg }}
class="bg-light-gray"
{{ end }}>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ with .Site.Params.eventbrite.title }}{{ . | markdownify }}{{ end }}</h2>
        <h3 class="section-heading">
             Tipos de entradas
        </h3>
        <p>
          Es posible comprar solo la entrada para el evento principal del sábado 15 [Ticket Evento], o para el evento del sábado + uno de los workshops del viernes 14 en la tarde [Ticket Evento + Workshop]. La entrada incluye el almuerzo del día sábado. La modalidad [1 + 1] está pensada para quienes en este momento están en la posición de poder comprar una entrada un poco más cara y financiar así que estudiantes o personas que se encuentran sin trabajo puedan asistir de forma gratuita. Es decir, si compras este tipo de entrada, permitirás que alguien no se quede fuera por motivos económicos :)
        </p>
      </div>
    </div>
    <h3 class="section-heading">
         PRE-VENTA
    </h3>
<div id="welcu_embed_sale_2686827098" class="welcu_embed">
<center><img src="https://assets.welcu.com/images/loading.gif" width="50" height="50"></center>
</div>
<script type="text/javascript" charset="utf-8">
(function() {
  var embed = document.createElement('script'); embed.type = 'text/javascript'; embed.async = true;
  embed.src = "https://welcu.com/metric-learning/satrday-santiago-2018/sales/a9c107aa.embed?locale=en";
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(embed, s);
  })();
  </script>
  </div>
</section>
