{{ "<!-- Schedule -->" | safeHTML }}
<section id="schedule" {{ if .Site.Params.schedule2.bg }}
class="bg-light-gray"
{{ end }}>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ with .Site.Params.schedule2.title }}{{ . | markdownify }}{{ end }}</h2>
      </div>
    </div>
    <div class="col-lg-12">
        <table class="table table-striped">
            <tr>
                <th>HORARIO</th>
                <th>TRACK 1 (auditorio 3)</th>
                <th>TRACK 2 (sala 3)</th>
            </tr>
            <tr>
                <td>9:00-9:30</td>
                <td>Registro</td>
                <td></td>
            </tr>
            <tr>
                <td>9:30-9:50</td>
                <td>Inauguración: la comunidad de R en Chile y Latinoamérica</td>
                <td></td>
            </tr>
            <tr>
                <td>9:50-10.20</td>
                <td><a href="https://www.dropbox.com/s/aufuu3oxhvcupa8/Complex_systems_architectures_for_advanced_analytics.pdf?dl=0">Complex systems architectures for advanced analytics</a></td>
                <td><a href="https://drive.google.com/file/d/1ZjCSS0cIukNp8a_di4BruxjqVlEG2O5e/view">Analizando tweets con R<a/></td>
            </tr>
            <tr>
                <td>10:20-10.50</td>
                <td><a href="https://drive.google.com/file/d/12bshfa2N1vMfEp45wUPOwOQ8eq9RYGFa/view?usp=sharing">Analisis de perfiles de consumo de electricidad con R</a></td>
                <td>Microsoft R options engines and user cases</td>
            </tr>
            <tr>
                <td>10:50-11:20</td>
                <td>Retail y Modelos de Analytics</td>
                <td><a href="https://github.com/carmenlef/SatRday-2018/blob/master/satyRday_2018.pdf">Análisis de redes en el Congreso</a></td>
            </tr>
            <tr>
                <td>11:20-11:40</td>
                <td>café</td>
                <td></td>
            </tr>
            <tr>
                <td>11:40-12:10</td>
                <td><a href="https://drive.google.com/file/d/1UrRuhssdISEUefN5UinPpRe0Xz2Hl1_B/view?usp=sharing">Aspectos del débil vínculo entre educación matemática, informática y civilización moderna</a></td>
                <td>De la academia a la Ciencia de Datos: R como puente</td>
            </tr>
            <tr>
                <td>12:10-12:40</td>
                <td>Sport analytics: Una aplicación a la World Triathlon Series</td>
                <td>Elecciones Presidenciales 2017: cambio de voto entre primera y segunda vuelta</td>
            </tr>
            <tr>
                <td>12.40-13.10</td>
                <td><a href="https://bustami.github.io/satRdaySCL2018-soccer-analytics-R/index.html#1">Una mirada al Soccer Analytics usando R</a></td>
                <td>Mejor diablo conocido que diablo por conocer: determinantes de las reelecciones locales en Chile</td>
            </tr>
            <tr>
                <td>13.10-14.10</td>
                <td>almuerzo</td>
                <td></td>
            </tr>
            <tr>
                <td>14:10-14:40</td>
                <td><a href="https://github.com/gorkang/BayesianReasoning/blob/master/presentation/2018-SatRday%20BayesianReasoning.pdf">BayesianReasoning, un paquete de R para ayudar a la comprensión de riesgos médicos y la toma de decisiones en contextos médicos</a></td>
                <td><a href="http://pacha.hk/satrday-talk/talk.html">Econometría usando R: Estimación de modelos gravitacionales</a></td>
            </tr>
            <tr>
                <td>14:40-15:10</td>
                <td><a href="https://drive.google.com/file/d/1vxmhqPXgfIk9_N61by3Z1sS26MGUHd7P/view?usp=sharing">Arbolado Urbano Público Virtual mediante integración de OpenStreetMap y R</a></td>
                <td>Métodos Mixtos en R: Concept Mapping</td>
            </tr>
            <tr>
                <td>15:10-15:40</td>
                <td><a href="https://drive.google.com/file/d/1IPbghdPlWA-3i3Ists78G3DvrQDMtnEd/view?usp=sharing">Evaluando tendencias recientes en índices agroclimaticos mediante imagenes satelitales MODIS</a></td>
                <td><a href="https://github.com/cienciadedatos/descripcion-y-orientaciones">"R for Data Science" en español</a></td>
            </tr>
            <tr>
                <td>15:40-16.00</td>
                <td> café</td>
                <td></td>
            </tr>
            <tr>
                <td>16:00-16.30</td>
                <td>Análisis de Datos espaciales en R</td>
                <td><a href="https://github.com/ricardomonge/satRdays_santiago2018/blob/master/presentacion_rmonge_satRday_15122018.pdf">Diseño y elaboración de reportes evaluación indirecta perfil de egreso con Markdown</a></td>
            </tr>
            <tr>
                <td>16:30-17.00</td>
                <td><a href="https://drive.google.com/file/d/198Zlnz7a-aoxRRBb-MnJFhdL43sg2Ulh/view?usp=sharing">Usando R en el manejo de datos de la ciencia del suelo</a></td>
                <td>Uso de R en Educación Superior</td>
            </tr>
        </table>


        <p></p>
</div>
  </div>
</section>
